<main id="about">
    <h1>About Me</h1>
    <p>{{ layout.about1 }}</p>
    <p>{{ layout.about2 }}</p>
    <br>

    <h2>Preferred Technologies</h2>
    <section id="technologies">
        {% for technology in site.data.technologies %}
        <div class="technology">
            <h3>{{ technology.category }}</h3>
            <img alt="{{ technology.category }}" src="{{ technology.image | relative_url}}">
            <p>{{ technology.description }}</p>
        </div>
        {% endfor %}
    </section>


    <h1>Featured Projects</h1>
    <section id="projects">
        {% for project in site.data.projects %}
        <div class="project">
            <h3>{{ project.name }}</h3>
            <div class="badges">
                {% for badge in project.badges %}
                {% include badge.html badge=badge %}
                {% endfor %}
            </div>
            <p>{{ project.description }}</p>
            <a href="{{ project.url }}">See more at GitHub</a>
        </div>
        {% endfor %}
    </section>
</main>