<header id="particles">
    <div id="header-content">
        <h1>
            <span id="fullname">{{ page.full_name }}</span>
            <span id="title">{{ page.title }}</span>
        </h1>
        <div id="header-icons">
            <a aria-label="Test" href="#">
                <i class="icon fas fa-font"></i>
            </a>
            <a aria-label="Test" href="#">
                <i class="icon fas fa-bold"></i>
            </a>
            <a aria-label="Test" href="#">
                <i class="icon fas fa-underline"></i>
            </a>
            <a aria-label="Test" href="#">
                <i class="icon fas fa-align-center"></i>
            </a>
        </div>
        <div id="header-links">
            <a class="link" data-scroll href="#">Link 1</a>
            <a class="link" data-scroll href="#">Link 2</a>
        </div>
    </div>
    <a data-scroll href="#" id="down">
        <i aria-hidden="true" class="icon fas fa-chevron-down"></i>
    </a>
</header>
