---
full_name: Karol Wojtasiuk
title: Software Developer
email: mail@karolwojtasiuk.com
github: KarolWojtasiuk
linkedin: KarolWojtasiuk
twitter: KarolWojtasiuk
about1: I am a novice programmer open to learning new technologies and programming techniques. Coding is my hobby and I like creating new apps or automating things, this is the reason why I want to turn it into a professional job. I already have 4 years of non-commercial C# programming experience. During this time, I have been writing various small open source projects to prepare for a career I want to start soon.
about2: I prefer working on the backend, I really like creating APIs, designing a feature rich system and even performing operations on the database, this is where I feel the best. But I don't like frontend, I made some sites and UI in my apps and games, but it was boring for me, I can do it, just that's not a place for me.
---

<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
{% include aboutme.html %}
{% include footer.html %}
</body>
</html>