main#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  padding: 50px 0;
  text-align: center;
  @media only screen and (min-width: $mobile-width) {
    width: 80%;
  }

  h1 {
    font-family: Quicksand, sans-serif;
    font-size: 50px;
  }

  h2 {
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-size: 35px;
    margin-bottom: 0;
  }

  p {
    font-size: 18px;
  }
}

#technologies {
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  p {
    font-size: 16px;
  }

  @media only screen and (min-width: $mobile-width2) {
    flex-wrap: nowrap;
    font-size: 23px;
  }
}

.technology {
  margin: 10px;

  img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}